!!!
%html
  %head
    %link{:rel => "stylesheet", :href => "bootstrap.min.css", :type => "text/css", :media => "screen"}
    %title CrossRef Lab's ranDOIm
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{"href" => "http://labs.crossref.org"} CrossRef Labs
    .container
      .page-header{"style" => "margin-top: 60px"}
        %h1 ranDOIm
      %p Get random DOIs as a JSON list. Just hit this URL:
      %pre
        :preserve
          $ curl http://random.labs.crossref.org/dois

          [
            "10.1111/j.1468-0084.1964.mp27004006.x",
            "10.1109/UKSIM.2011.38",
            "10.1097/00007890-200407271-00998",
            "10.1136/bmj.1.2518.E53",
            "10.3998/3336451.0006.102",
            "10.2307/20468071",
            "10.1371/journal.pone.0000038.g004",
            "10.2307/337445",
            "10.1109/PHO.2011.6110750",
            "10.1002/(SICI)1097-0010(199604)70:4<422::AID-JSFA514>3.0.CO;2-5",
            "10.1112/jlms/s1-4.1.18",
            "10.1201/9780203641965.b",
            "10.1115/1.2905912",
            "10.1088/0953-8984/11/10/009",
            "10.1180/minmag.1923.020.102.03",
            "10.5688/ajpe756121",
            "10.4018/9781605661742.ch006",
            "10.1136/bjo.5.8.378",
            "10.1126/science.288.5465.431b",
            "10.1111/j.1096-3642.2006.00206.x"
          ]

      %h2 Parameters
      %p 
        Stick these in as query parameters. e.g. 
        %code http://random.labs.crossref.org/dois?count=15&type=conference_paper
      %dl
        %dt 
          %code count
        %dd 
          The number of returned random DOIs. Maximum is 1000, default 20. Note that
          a request for 1000 random DOIs will take a few seconds to complete, whereas
          a request for 20 will take ~1 second.
        %dt 
          %code to
        %dd Return only DOIs published before and including the given year.
        %dt 
          %code from
        %dd 
          Return only DOIs published after and including the given year. Specifiying 
          a long time period with
          %code to
          and
          %code from
          will cause multi-second response times since the service will try to 
          provide DOIs distributed throughout the time period.   
        %dt
          %code type
        %dd
          Return DOIs of a certain type. Must be one of these unixref derived types:
          %code journal_article
          ,
          %code conference_paper
          ,
          %code report_paper
          ,
          %code journal_issue
          ,
          %code journal
          ,
          %code book
          ,
          %code book_series
          ,
          %code book_set
          ,
          %code dissertation
          ,
          %code content_item
          ,
          %code series
          or
          %code standard
          :plain
            .       
      %p 
        Setting any of the following parameters forces
        %code type
        to
        %code journal_article
        :plain
          :
        %dl
          %dt 
            %code issn
          %dd 
            Return only journal article DOIs published in a journal with
            given ISSN. Provide ISSNs in the form 
            %code xxxx-xxxx
            :plain
              . However, sometimes this form won't match because of how metadata has
              been submitted to CrossRef. If it doesn't, try the form 
            %code xxxxxxxx
            :plain
              .
          %dt 
            %code
              title
          %dd 
            Return only journal article DOIs published in journal with the exact full title given.
            %code title 
            and 
            %code issn 
            options are mutually exclusive and
            %code title 
            will trump
            %code issn
            :plain
              . Unfortunately title isn't very useful since an exact match must be made with the 
              text of the journal title in the form it has been submitted to CrossRef. We recommend using
            %code issn 
            over 
            %code title
            :plain
              .
          
      %h2 Randomisation Process
      %p 
        A random distribution of values, 0 to 1, has been assigned to our DOI records.
        We use this as an index to look up a random values between 0 and 1 on each request,
        and take a series of DOIs from that point in randomised order. Selection on year, title 
        and ISSN filters out records before a lookup on the random index.

